#mandelbrotContainer {
	display: grid;
	grid-template-columns: [main] 1200px [controls] 600px;
	grid-template-rows: [main] auto [info] auto;
	grid-column-gap: 0.8em;
}

#controls {
	grid-column: span 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: [algorithm] 2fr [colour] 7fr;
	grid-column-gap: 0.5em;
	grid-row-gap: 3em;
}

#canvas {
	grid-column: main;
	grid-row: main;
}

#canvasInfo {
	grid-column: main;
	grid-row: info;
	display: flex;
	justify-content: flex-end;
}

#positionControls {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: [labels] 1fr [inputs] 3fr;
	grid-template-rows: repeat(auto-fit, 1fr);
	align-items: center;
}

#positionControls label {
	grid-column: labels;
	justify-self: end;
}

#positionControls input {
	grid-column: inputs;
	width: auto;
}

#redrawBtn {
	grid-column: span 2;
}

#colourControls {
	display: flex;
	flex-direction: column;
	align-items: : center;
}
